
.contenedor-burbujas{
    flex-direction:row;
}

.chat-widget{
    position:fixed;
    right:25px;
    bottom:25px;
    z-index:9999;

    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Montserrat', sans-serif;
}

.chat-card{
    width:340px;
    background:#fff5e0;
    border-radius:25px;
    padding:25px;
    box-shadow:0 15px 40px rgba(0,0,0,.18);

    position:absolute;
    right:0;
    bottom:110px;

    opacity:0;
    visibility:hidden;
    transform:translateY(20px);

    transition:.3s;
}

.chat-widget:hover .chat-card{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

.chat-card.activo{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

.chat-texto h3{
    color:#122548;
    margin:0;
}

.chat-texto p{
    color:#444;
    line-height:1.5;
}

.asesor{
    display:flex;
    align-items:center;
    gap:15px;
    margin:20px 0;
}

.asesor img{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
}

.asesor strong{
    display:block;
    color:#122548;
}

.asesor span{
    color:#777;
    font-size:.9rem;
}

.btn-whatsapp{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;

    text-decoration:none;

    background:#25D366;
    color:white;

    padding:14px;
    border-radius:30px;

    font-weight:700;

    transition:.2s;
}

.btn-whatsapp:hover{
    transform:translateY(-2px);
}

.burbuja{
    width:90px;
    height:90px;

    border:none;
    border-radius:50%;

    overflow:hidden;

    cursor:pointer;

    background:white;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

    transition:transform .25s ease, box-shadow .25s ease;
}

.burbuja:hover{
    transform:scale(1.08);
    box-shadow:0 14px 35px rgba(0,0,0,.28);
}

.burbuja img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.mensaje-burbuja{
    background: #122548;
    color: #fff5e0;

    padding: 10px 16px;
    border-radius: 20px;

    white-space: nowrap;

    box-shadow: 0 8px 20px rgba(0,0,0,.18);
    position: relative;

    font-size:.9rem;
    font-weight:600;
    white-space:nowrap;

    box-shadow:0 8px 20px rgba(0,0,0,.18);

    animation:flotar 2.5s infinite;
    transition:
        opacity .3s ease,
        transform .3s ease,
        visibility .3s ease;
}

.mensaje-burbuja::after{
    content: "";
    position: absolute;

    right: -8px;
    top: 50%;
    transform: translateY(-50%);

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #122548;
}

.chat-widget:hover .mensaje-burbuja{
    opacity:0;
    visibility:hidden;
    transform:translateX(15px);
    pointer-events:none;
}

@keyframes flotar{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-4px);
    }
}